<?xml version="1.0" encoding="UTF-8"?>
<!-- Watch config file for changes every 5 seconds -->
<Configuration status="info">
  <Appenders>
    <File name="file-log" fileName="test-results/ldapi.log"
          append="false">
      <PatternLayout pattern="%-5p %20.20c{1} :: %m%n"/>
    </File>
    <Null name="null" />
  </Appenders>
  <Loggers>
    <Root level="info" additivity="false">
      <appender-ref ref="file-log" level="info"/> <!-- only log warnings and worse to REPL -->
    </Root>
  </Loggers>
</Configuration>
