{:tpximpact.datahost.ldapi.jetty/http-port #int #or [#env "LD_API_HTTP_PORT" "3400"]
 :tpximpact.datahost.ldapi.native-datastore.repo/data-directory #or [#env "LD_API_TEST_DATA_DIR" "/tmp/ld-test-db"]

 :tpximpact.datahost.ldapi.test/http-client
 {:port #ig/ref :tpximpact.datahost.ldapi.jetty/http-port}

 :tpximpact.datahost.ldapi.native-datastore/repo 
 {:data-directory #ig/ref :tpximpact.datahost.ldapi.native-datastore.repo/data-directory}

 :tpximpact.datahost.time/system-clock {}}
