{:tpximpact.datahost.ldapi.jetty/http-port #int #or [#env "LD_API_HTTP_PORT" "3400"]
 :tpximpact.datahost.ldapi.native-datastore.repo/data-directory #or [#env "LD_API_TEST_DATA_DIR" "/tmp/ld-test-db"]

 ;; test rdf-base-uri intentionally uses a weird value that doesn't include `data`
 ;; in order to prove that RDF URIs are not necessarily tied to routing.
 :tpximpact.datahost.system-uris/uris {:rdf-base-uri #uri "http://localhost:3000/data/"}

 :tpximpact.datahost.ldapi.test/http-client
 {:port #ig/ref :tpximpact.datahost.ldapi.jetty/http-port}

 :tpximpact.datahost.ldapi.native-datastore/repo 
 {:data-directory #ig/ref :tpximpact.datahost.ldapi.native-datastore.repo/data-directory}

 :tpximpact.datahost.ldapi.store.temp-file-store/store {}

 :tpximpact.datahost.ldapi.router/handler
 {:change-store #ig/ref :tpximpact.datahost.ldapi.store.temp-file-store/store}}
