#kaocha/v1
{:tests [{:id          :unit
          :test-paths  ["test"]
          :ns-patterns [".*-test"]
          :skip-meta   [:hurl]}
         {:id          :integration
          :ns-patterns [".*-test"]
          :focus-meta  [:hurl]}
         {:id          :sql
          :ns-patterns [".*-test"]
          :focus-meta  [:sql]}]
 :capture-output? false
 :reporter [kaocha.report/documentation]
; :plugins [:kaocha.plugin/junit-xml]
; :kaocha.plugin.junit-xml/target-file "target/test-results/junit.xml"
 }
