<div>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Did you know you can automate access to this data by using the API</h5>
        </div>
        <div class="card-body">
            <p>{{details}}</p>

            <h3 class="h5">
                <a class="btn btn-secondary" href="{{example}}" role="button" target=”_blank”>
                    Try it out
                </a>
            </h3>
            <!-- <div class="collapse" id="api">
                <div class="card card-body">
                    <p>Type: {{type}} | Method: {{method}} </p>
                    <p>
                        {{example}}
                    </p>
                </div>
            </div> -->
            <p class="pt-2">Read the <a href "#">developer guidelines</a> for more information.</p>
        </div>
    </div>
</div>