---
layout: basic
---

<main role="main" id="content" tabindex="-1">
    <div class="container pt-3 ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/datasets">Datasets</a></li>
                <li class="breadcrumb-item"><a id="seriesBreadcrumbID" href="/datasets/dataset-series"><span
                            id="seriesBreadcrumb"></span></a></li>
                <li class="breadcrumb-item" aria-current="page"><a id="releaseBreadcrumbID"
                        href="/datasets/dataset-series"><span id="titleBreadcrumb"></span></a></li>
                <li class="breadcrumb-item active" aria-current="page">All revisions</li>
            </ol>
        </nav>
    </div>
    <div class="jumbotron pt-5 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="font-weight-bold h3 pr-5"><span id="subTitle"></span>: <span id="title"></span></h1>
                    <h1 class="font-weight-bold pr-5">
                    </h1>
                    <h1 class="font-weight-bold pr-5">
                        List of all revisions</h1>
                    <p class="lead"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row pt-4">
            <div class="col-lg-10">
                <!-- <h2>List of all revisions</h2> -->
                <table class="table table-striped">
                    <thead class="table-light">
                        <tr>
                            <th class="fixed" scope="col">Revision</th>
                            <th scope="col">Title</th>
                            <th class="fixed" scope="col">Link</th>
                            <th class="col-lg-3" scope="col">Dataset</th>

                        </tr>
                    </thead>
                    <tbody>
                    <tbody id="table"></tbody>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</main>

<script>
    const envDomain = document.getElementById("getDomain").innerHTML;

    let url = window.location.href
    const urlParams = new URLSearchParams(window.location.search);
    const seriesID = urlParams.get('series')
    const releaseID = urlParams.get('release')
    uri = envDomain + '/data/' + seriesID + '/release/' + releaseID
    let seriesUri = envDomain + '/data/' + seriesID

    const tableStructure = [{
        "name": "index"
    }, {
        "name": "dcterms:title"
    }, {
        "name": "@id"
    }, {
        "name": "download"
    }]
    const tableRef = document.getElementById("table");
    const tr = tableRef.getElementsByTagName("tr");

    const settings = {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        }
    };

    fetch(uri, settings)
        .then((response) => {
            return response.json();
        })
        .then((data) => {
            fetchSeries(data)
        })
        .catch(error => {
            console.log(error)
        });

    fetchSeries = release => {
        fetch(seriesUri, settings)
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                populatePage(release, data)
            })
            .catch(error => {
                console.log(error)
            });
    }

    populatePage = (release, series) => {
        document.getElementById('title').innerHTML = release["dcterms:title"]
        document.getElementById('subTitle').innerHTML = series["dcterms:title"]
        document.getElementById('titleBreadcrumb').innerHTML = release["dcterms:title"]
        document.getElementById('seriesBreadcrumb').innerHTML = series["dcterms:title"]
        document.getElementById('seriesBreadcrumbID').href = `/datasets/dataset-series?series=${seriesID}`
        document.getElementById('releaseBreadcrumbID').href =
            `/datasets/dataset-series/dataset-release?series=${seriesID}&release=${releaseID}`

        getRevision(release)
    }

    getRevision = (release) => {
        fetch(`${uri}/revisions`, settings)
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                populateRevision(data, release)
            })
            .catch(error => {
                console.log(error)
            });
    }


    populateRevision = data => {
            revisions = data.contents
            for (i = 0; i < revisions.length; i++) {
                let newRow = tableRef.insertRow(-1);
                for (j = 0; j < tableStructure.length; j++) {
                    const revisionID = revisions[i]["@id"].split('/').pop()
                    const link = `/datasets/dataset-series/dataset-release/dataset-revision?series=${seriesID}&release=${releaseID}&revision=${revisionID}`
                    
                    console.log(revisions[i])
                    console.log(revisions[i]['dh:hasChange'][0])
                    const beLink = revisions[i]['dh:hasChange'][0]
                    if (tableStructure[j].name == "@id") {
                            let cellValue = `View ${revisions[i]["dcterms:title"]}`
                            let cell = newRow.insertCell(j);
                            let text = document.createTextNode(cellValue);
                            let a = document.createElement('a');
                            a.href = `/datasets/dataset-series/dataset-release/dataset-revision?series=${seriesID}&release=${releaseID}&revision=${revisionID}`;
                            a.appendChild(text);
                            cell.appendChild(a);
                        } else if (tableStructure[j].name == "index") {
                            let cellValue = revisions.length - i 
                            let cell = newRow.insertCell(j);
                            let text = document.createTextNode(cellValue);
                            cell.appendChild(text);
                        } else if (tableStructure[j].name == "download") {
                            let cell = newRow.insertCell(j);
                            let h3 = document.createElement('h3');
                            h3.classList.add( 'text-center');
                            let a = document.createElement('a');
                            a.classList.add('btn', 'btn-primary', 'btn-sm', 'col-12');
                            a.textContent = 'Download (CSV)';
                            a.onclick = function() {
                                downloadCSV(beLink, 'revision');
                            };
                            h3.appendChild(a);
                            cell.appendChild(h3);
                        } else if (tableStructure[j].name == "changes") {
                            let cellValue = 'swag'
                            let cell = newRow.insertCell(j);
                            let text = document.createTextNode(cellValue);
                            cell.appendChild(text);
                        } else {
                            let cellValue = revisions[i][tableStructure[j].name]
                            let cell = newRow.insertCell(j);
                            let text = document.createTextNode(cellValue);
                            cell.appendChild(text);
                        }

                    }
                }
            }

        downloadCSV = (url, type) => {
        console.log('downloading ' +    url)
        let request = new XMLHttpRequest();
        request.open("GET", url, true);
        request.setRequestHeader("Accept", "text/csv")
        request.responseType = "blob";
        request.onload = function () {
            let blob = request.response;
            let fileName = `${type}.csv`
            let link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = fileName;
            link.click();
        };

        request.send();
    }
</script>
