{:tpximpact.catql/schema {:sdl-resource "catql/catalog.graphql"
                          :default-catalog-id #ig/ref :tpximpact.catql/default-catalog
                          :drafter-base-uri #ig/ref :tpximpact.catql/drafter-base-uri}

 :tpximpact.catql/drafter-base-uri "https://idp-beta-drafter.publishmydata.com/"

 :tpximpact.catql/service {:schema #ig/ref :tpximpact.catql/schema
                           :host "localhost"
                           :port 8888
                           :ide-path "/ide"
                           :default-asset-path "/assets/graphiql"
                           :default-subscriptions-path "/ws"}
 :tpximpact.catql/runnable-service {:service #ig/ref :tpximpact.catql/service} ;; Could probably combine these two components
 :tpximpact.catql/default-catalog "http://gss-data.org.uk/catalog/datasets"}
