{:tpximpact.catql/schema {:sdl-resource "catql/catalog.graphql"}
 :tpximpact.catql/service {:schema #ig/ref :tpximpact.catql/schema
                           :host "0.0.0.0"}
 :tpximpact.catql/runnable-service {:service #ig/ref :tpximpact.catql/service} ;; Could probably combine these two components
 }
