{:tpximpact.datahost.ldapi/default-catalog-id "http://gss-data.org.uk/catalog/datasets"
 :tpximpact.datahost.ldapi/drafter-base-uri "https://idp-beta-drafter.publishmydata.com/"

 :tpximpact.datahost.ldapi/api-handler {:triplestore #ig/ref :tpximpact.datahost.ldapi.native-datastore/repo}

 :tpximpact.datahost.ldapi.jetty/runnable-service {:host "localhost"
                                                   :port 3000
                                                   :handler #ig/ref :tpximpact.datahost.ldapi.router/router
                                                   :ide-path "/ld-api"
                                                   :default-subscriptions-path "/ws"}

 :tpximpact.datahost.ldapi.native-datastore/repo {:data-directory "/tmp/ld-dev-db"}

 :tpximpact.datahost.scratch.series/get-series-handler {}
 :tpximpact.datahost.scratch.series/put-series-handler {}

 :tpximpact.datahost.ldapi/at-context {}

 :tpximpact.datahost.ldapi.router/router
 {:api-route-data
  [["/data" ;{:middleware [[:wrap-auth]]}
    ["/:series-slug" {:get {:summary "Blah blah summary"
                            :description "description here"
                            :handler #ig/ref :tpximpact.datahost.scratch.series/get-series-handler
                            }
                      :put {:summary "Blah series PUT summary"
                            :description "Description of series PUT here"
                            :handler #ig/ref :tpximpact.datahost.scratch.series/put-series-handler
                            :parameters {:body [:maybe
                                                [:map
                                                 ;; "@context"
                                                 [#ig/ref :tpximpact.datahost.ldapi/at-context [:or map? vector? string?]]
                                                 ]]
                                         }
                            }
                      }]]]}
 }
