{:tpximpact.datahost.ldapi/default-catalog-id "http://gss-data.org.uk/catalog/datasets"
 :tpximpact.datahost.ldapi/drafter-base-uri "https://idp-beta-drafter.publishmydata.com/"
 :tpximpact.datahost.ldapi.jetty/http-port 3000

 :tpximpact.datahost.system-uris/uris {:rdf-base-uri #uri "https://example.org/data/"}

 :tpximpact.datahost.ldapi.jetty/runnable-service
 {:host "localhost"
  :port #ig/ref :tpximpact.datahost.ldapi.jetty/http-port
  :handler #ig/ref :tpximpact.datahost.ldapi.router/handler
  :ide-path "/ld-api"
  :default-subscriptions-path "/ws"}

 :tpximpact.datahost.ldapi.native-datastore/repo {:data-directory "/tmp/ld-dev-db"}
 :tpximpact.datahost.ldapi.store.file/store {:directory "/tmp/file-store"}

 :tpximpact.datahost.ldapi.router/handler
 {:triplestore #ig/ref :tpximpact.datahost.ldapi.native-datastore/repo
  :clock #ig/ref :tpximpact.datahost.time/system-clock
  :change-store #ig/ref :tpximpact.datahost.ldapi.store.file/store
  :system-uris #ig/ref :tpximpact.datahost.system-uris/uris}

 :tpximpact.datahost.time/system-clock {}
 }
