{:tpximpact.catql.schema/schema {:sdl-resource "catql/catalog.graphql"
                                 :default-catalog-id #ig/ref :tpximpact.catql.schema/default-catalog-id
                                 :drafter-base-uri #ig/ref :tpximpact.catql.schema/drafter-base-uri}

 :tpximpact.catql.query/sparql-repo {:endpoint "https://beta.gss-data.org.uk/sparql"}

 :tpximpact.catql.schema/default-catalog-id "http://gss-data.org.uk/catalog/datasets"
 :tpximpact.catql.schema/drafter-base-uri "https://idp-beta-drafter.publishmydata.com/"

 :tpximpact.catql.http/service {:schema #ig/ref :tpximpact.catql.schema/schema
                                :host "localhost"
                                :port 8888
                                :ide-path "/ide"
                                :default-asset-path "/assets/graphiql"
                                :default-subscriptions-path "/ws"}

 :tpximpact.catql.http/runnable-service {:service #ig/ref :tpximpact.catql.http/service} ;; Could probably combine these two components

 :tpximpact.catql.schema/facet-labels {:sparql-repo #ig/ref :tpximpact.catql.query/sparql-repo}
 }
