---
layout: basic
---

<main role="main" id="content" tabindex="-1">
    <div class="container pt-3 ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/datasets">Datasets</a></li>
                <li class="breadcrumb-item"><a href="/datasets/dataset-series">Population aged 16 to 64 years level 3 or
                        above qualifications</a></li>
                <li class="breadcrumb-item"><a href="/datasets/dataset-series/dataset-release">2010 onwards</a></li>
                <li class="breadcrumb-item active" aria-current="page">All revisions</li>
            </ol>
        </nav>
    </div>
    <div class="jumbotron pt-5 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="font-weight-bold h3 pr-5">Population aged 16 to 64 years level 3 or above qualifications: 2010 onwards</h1>
                    <h1 class="font-weight-bold pr-5">
                            List of all revisions</h1>
                    <p class="lead"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

            <div class="row pt-4">
                <div class="col-lg-10">
                    <!-- <h2>List of all revisions</h2> -->
                    <table class = "table table-striped">
                        <thead class="table-light">
                            <tr>
                                <th class="fixed" scope="col">Revision</th>
                                <th class="fixed" scope="col">Update date</th>
                                <th scope="col">Description</th>
                                <th class="fixed"  scope="col">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>5 <span class="badge rounded-pill text-bg-success">Latest</span></td>
                                <td>19 November 2022</td>
                                <td>The latest version of this data contains additional data for the new year of 2021. In
                                    addition
                                    some minor corrections to to rounding issues for some historic data in 2011 have been fixed.
                                    One duplicate piece of data was also deleted.</td>
                                <td><a href = "../dataset-revision">View revision 5</a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>19 November 2021</td>
                                <td>The latest version of this data contains additional data for the new year of 2020</td>
                                <td><a href = "../dataset-revision-archived">View revision 4</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>9 November 2020</td>
                                <td>The latest version of this data contains additional data for the new year of 2019
                                </td>
                                <td><a href = "#">View revision 3</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>1 March 2020</td>
                                <td>A correction was made to values for the North East of england and containing local authorities</td>
                                <td><a href = "#">View revision 2</a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>17 November 2019</td>
                                <td>The latest version of this data contains additional data for the new year of 2018</td>
                                <td><a href = "#">View revision 1</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

    </div>
</main>